asgiref==3.4.1
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
Django==3.2.5
django-ckeditor==6.4.2
django-crispy-forms==1.14.0
django-debug-toolbar==3.5.0
django-jazzmin==2.5.0
django-js-asset==2.0.0
idna==3.3
Pillow==8.3.1
pytz==2021.1
requests==2.28.1
sqlparse==0.4.1
tzdata==2022.1
urllib3==1.26.11
